<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>

]>
<root id="-1">
  <homepage id="1052" key="1fcc659a-d5af-4690-bcd6-ea28a88d49d7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-07-29T14:26:38" updateDate="2016-08-02T21:25:07" nodeName="Homepage" urlName="homepage" path="-1,1052" isDoc="" nodeType="1050" creatorName="Matthew" writerName="Matthew" writerID="0" template="0" nodeTypeAlias="homepage">
    <contentTitle><![CDATA[Deepend Umbraco Twitter test]]></contentTitle>
    <twitterAccountNames><![CDATA[brazilrmh]]></twitterAccountNames>
    <twitterConsumerKey><![CDATA[UGEol89rWwfC6oPKnWZb9w]]></twitterConsumerKey>
    <twitterAccessToken><![CDATA[491281627-UEAw0jha9TKnSCqylB7YOTPJwRaLHRCseo1ISL5H]]></twitterAccessToken>
    <twitterConsumerSecret><![CDATA[zwvS5W6MH8McorMbuclnFamgX6YE5vRPVKP2oPq4JM]]></twitterConsumerSecret>
    <twitterAccessSecret><![CDATA[jSejLvm35MD35QgM2RBlFX39umDkTUHfVaLKnRWKZA]]></twitterAccessSecret>
    <twitterMaxItems>10</twitterMaxItems>
    <twitterCacheDuration>10</twitterCacheDuration>
  </homepage>
</root>